* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item {
    height: 500px;
    width: 300px;
}

.carousel-item img {
    height: 100%;
    object-fit: contain;
    background-color: black;

}

.modal-content {
    height: 600px;
    width: 300px;
}

#modalImage {
    height: 100%;
    width: 100%;
}

#comentario{
    width: 100%;
}