body {
    padding: 180px;
    padding-top: 40px;
}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }
}